body{
  font-family: 'Helvetica Neue', sans-serif;
  color: aliceblue;
  scroll-behavior: smooth;
  margin: 0%;
  
}
*{box-sizing: border-box;}
hr{
  border: solid #9d0208 1px;
}
/*--- Nav bar ---*/
 #navbar{
  display: flex;
  justify-content: space-around;
  background-color: #6a040f;
  font-size: calc(14px + 3vw);
  position: fixed;
  left: 0;
  right: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-bottom: solid .1em aliceblue;
}
.nav-link{
  color: aliceblue;
  text-decoration: none;
  padding: .1em;
  border-radius: 6%;
}
/*--- Welcome section ---*/
#welcome-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #073b4c;
  text-align: center;
  padding: 0em;
  padding-top: 6em;
  margin: 0em;
  font-size: 4vmin;
  align-items: center;
}
.hello{
  background-color: #33415c7a;
  width: fit-content;
  
}
.cert{
  background-color: #33415c7a;
  border: .1em solid #6a040f;
}
/*--- Project section ---*/
#projects{
  display: flex;
  flex-direction: column;
  background-color: #246a73;
  padding-top: 3em;
  align-items: center;
}
.section-title{
  display: inline-block;
  width: fit-content;
  margin: 0em;
  padding: 0em;
}
.section-title h1{
  text-align: center;
  font-size: 5vw;
}
.project {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin: 6vw;
  padding: 0em;
  background-color: #9d0208;
}
.img-link{
  height: 100%;
}
img{
  display: block;
  width: 100%;
  height: 100%;
  margin: 0em;
}
.project-link{
  margin: 0em;
  padding: .5em 0;
  background-color: #6a040f;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 3vw;
  color: aliceblue;
}
/* Span Decoration */
.section-title .fa, #welcome-section span, #welcome-section .fa, .contact-title .fa{
  font-size: 4vmin;
  color:chartreuse;
}
/*--- Contact section ---*/
#contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #33415c;
  margin: 0%;
  padding-top: 3em;
  height: 100vh;
  align-items: center;
}
.contact-title{
  display: block;
  margin: 0%;
  padding: 0%;
  width: fit-content;
}
.contact-title h1{
  text-align: center;
  font-size: 5vw;
}
#contact-icon{
  display: flex;
  justify-content: space-between;
  margin: 0em .4em;
}
.profile-link{
  text-decoration: none;
  color: aliceblue;
  font-size: 3vw;
  padding: 1px;
}
.cont-div{
  background-color: #6a040f;
  border-radius: 6%;
  margin-left: .5vmin;
  margin-right: .5vmin;
}
/*--- Header ---*/
.note{
  padding: 1em;
}
/*--- Set Hovers ---*/
/*-Navbar-*/
.nav-link:hover{
  color: chartreuse;
  text-decoration: none;
  background-color: black;
}
.project-link:hover{
  border-top: solid .19em chartreuse;
  background-color: black;
  color: chartreuse;
}
.project-link .fa{
  visibility: hidden;
}
.project:hover{
  border: .2em solid chartreuse;
  border-radius: .1em;
}
.project:hover .project-link .fa{
  visibility: visible;
  color:chartreuse;
}
/*--- Set Media Quries font screen size of 700px an up ---*/
@media (min-width: 700px){
  #navbar{
    font-size: 2em;
    display: block;
  }
  .nav-link{
    float: left;
    margin: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  #box-continer{
    display: grid;
    grid-template-columns: 1fr 1fr; 
  }
  .section-title h1, .contact-title h1{
    font-size: 2.1em;
  }
  .project {
    margin: 3em;
  }
  .project-link{
    padding: .5em 0;
    font-size: 2vw;
  }
  .project-link .fa{
    font-size: 3vmin;
  }
  .profile-link{
    font-size: 1.3em;
  }
  .cont-div{
    margin-left: 2.5vmin;
    margin-right: 2.5vmin;
  }
}
/*--- Animation ---*/
.cont-div:hover{
  position: relative;
  animation: translate .8s;
  animation-fill-mode: forwards;
  background-color: black;
}
.cont-div:hover .profile-link{
  color: chartreuse;
}
@keyframes translate{
  from {top: 0px; left: 0px;}
  to {top: 8px; left: 4px;}
}
